<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container1">
        <header>
            <h1 class="maintitle">
                <a href="/">ABIN LOCKWOUD</a>
            </h1>
            <%- include('./partials/nav.ejs') %>

        </header>
        <p>Что-то пошло не так... 
            Вернитесь на главную страницу
        </p>
    </div>
</body>
</html>